@model EquipmentManagement.Domain.DTO.SiteSide.PlaceOfService.FilterPlaceOfServicesDTO;
@using EquipmentManagement.Application.Convertors;

@{
    ViewData["Title"] = "مدیریت مکان ها خدمت";
}

@section Scripts
{
}

@section breadcrumbs
{

    <li class="active">@ViewData["Title"]</li>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-3 col-lg-3">

            @if (Model.ParentId.HasValue)
            {
                <a class="btn btn-sky w-100 margin-bottom-10" 
                    asp-action="CreatePlaceOfService" 
                    asp-controller="PlaceOfServices" 
                    asp-area=""
                asp-route-ParentId="@Model.ParentId">ایجاد مکان جدید </a>
            }
            else
            {
                <a class="btn btn-sky w-100 margin-bottom-10" asp-action="CreatePlaceOfService"
                   asp-controller="PlaceOfServices"
                   asp-area="">ایجاد مکان جدید </a>
            }
            

            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> فیلتر  </span>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="basic-form">
                            <form asp-area="" asp-controller="PlaceOfServices" asp-action="FilterPlaceOfServices" method="get" id="filter-search">
                                <input type="hidden" asp-for="Page" />
                                <input type="hidden" asp-for="ParentId" />

                                <div class="form-row">

                                    <div class="form-group col-md-12">
                                        <label>عنوان مکان</label>
                                        <input type="text" asp-for="PlaceOfServiceTitle" class="form-control" PlaceOfServiceholder="عنوان مکان">
                                    </div>

                                </div>

                                <hr />

                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-filter"></i>فیلتر
                                    </button>
                                </div>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <div class="form-group col-md-12">
                                        <a asp-area="" asp-controller="PlaceOfServices" asp-action="FilterPlaceOfServices" class="btn btn-labeled w-100 btn-darkorange">
                                            <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                        </a>
                                    </div>
                                }

                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-9">
            <div class="well with-header with-footer table-responsive">
                <div class="header bordered-azure">
                    <div class="flex-style">
                        <span>مکان ها </span>
                        <span>تعداد کل : @Model.AllEntitiesCount</span>
                    </div>
                </div>

                @if (Model != null)
                {
                    <table class="table table-hover table-bordered tc tableShowListInAdmin">

                        <thead class="tc">
                            <tr class="tc">
                                <th>
                                    #
                                </th>
                                <th>
                                    نام مکان
                                </th>
                                <th>
                                    تاریخ ثبت
                                </th>
                                <th>
                                    امکانات
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var PlaceOfService in Model.Entities)
                            {
                                <tr id="profile_@PlaceOfService.Id" remove-ajax-item="@PlaceOfService.Id">

                                    <td>
                                        @PlaceOfService.Id
                                    </td>

                                    <td>
                                        @PlaceOfService.Title
                                    </td>

                                    <td>
                                        @PlaceOfService.CreateDate.ToShamsi()
                                    </td>

                                    <td>
                                        <div class="d-flex justify-content-center ">

                                          

                                            @if (!Model.ParentId.HasValue)
                                            {
                                                <a title="نمایش زیر مجموعه ها" 
                                                   asp-controller="PlaceOfServices" 
                                                   asp-action="FilterPlaceOfServices"
                                                   asp-route-ParentId="@PlaceOfService.Id"
                                                   class="btn btn-warning btn-circle btn-xs">
                                                <i class="glyphicon glyphicon-align-justify"></i>
                                                </a>
                                            }

                                            <a title="ویرایش اطلاعات" asp-controller="PlaceOfServices" asp-action="EditPlaceOfService" asp-route-PlaceOfServiceId="@PlaceOfService.Id" class="btn btn-warning btn-circle btn-xs">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>

                                            <button onclick="DeleteAjax(@PlaceOfService.Id, '@Url.Action("DeletePlaceOfService", "PlaceOfServices", new {area = "", PlaceOfServiceId = PlaceOfService.Id})')" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>

                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                    <partial name="_Paging" model="@Model.GetCurrentPaging()" />
                }
                else
                {
                    <partial name="_NotFoundPartial" />
                }

            </div>
        </div>
    </div>
</div>
