@using EquipmentManagement.Application.StaticTools
@model EquipmentManagement.Domain.DTO.SiteSide.Product.CreateProductDTO

@{
    ViewData["Title"] = "افزودن کالا";

    var places = ViewBag.places as List<EquipmentManagement.Domain.DTO.SiteSide.Places.SelectListOfPlacesDTO>;
    var catgetories = ViewBag.Categories as List<EquipmentManagement.Domain.DTO.SiteSide.ProductCategory.SelectListOfCategoriesDTO>;
}

@section Scripts
{
    <partial name="_JqueryValidation" />
}

@section Breadcrumbs
{
    <li>
        <a asp-area="" asp-controller="Product" asp-action="FilterProduct"> مدیریت تجهیزات  </a>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget">
        <div class="widget-header bg-warning">
            <i class="widget-icon fa fa-arrow-down"></i>
            <span class="widget-caption">توضیح</span>
            <div class="widget-buttons">
                <a href="#" data-toggle="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="#" data-toggle="maximize">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" data-toggle="collapse">
                    <i class="fa fa-minus"></i>
                </a>
                <a href="#" data-toggle="dispose">
                    <i class="fa fa-times"></i>
                </a>
            </div><!--Widget Buttons-->
        </div><!--Widget Header-->
        <div class="widget-body">

            برای درج اطلاعات رسید انبار بصورت کامل می بایست پارامترهای تاریخ رسید و شماره رسید  بطور کامل ثبت گردند.

        </div><!--Widget Body-->
    </div><!--Widget-->
</div>

<form method="post" asp-action="CreateProduct" asp-controller="Product" asp-area="" enctype="multipart/form-data">
    <div class="row">

        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="ProductTitle">
                                    عنوان
                                    <span class="text-danger">(وارد کردن این پارامتر اجباریست.)</span>
                                </label>
                                <input type="text" class="form-control" asp-for="ProductTitle">
                                <span class="text-danger" asp-validation-for="ProductTitle"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="ProductTitle">
                                    Rf-Id
                                    <span class="text-danger">(وارد کردن این پارامتر اجباریست.)</span>
                                </label>
                                <input type="text" class="form-control" asp-for="BarCode">
                                <span class="text-danger" asp-validation-for="BarCode"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="ProductTitle">
                                    کداموال
                                    <span class="text-danger">(وارد کردن این پارامتر اجباریست.)</span>
                                </label>
                                <input type="text" class="form-control" asp-for="RepositoryCode">
                                <span class="text-danger" asp-validation-for="RepositoryCode"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="BrandName">برند کالا</label>
                                <input type="text" class="form-control" asp-for="BrandName">
                                <span class="text-danger" asp-validation-for="BrandName"></span>
                            </div>

                            <hr />

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="InvoiceDateTime">تاریخ رسید انبار</label>
                                <input type="text" class="form-control" AdminDatePicker="1" style="z-index:9999!important;" asp-for="InvoiceDateTime">
                                <span class="text-danger" asp-validation-for="InvoiceDateTime"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="InvoiceNumber">شماره ی رسید انبار</label>
                                <input type="text" class="form-control" asp-for="InvoiceNumber">
                                <span class="text-danger" asp-validation-for="InvoiceNumber"></span>
                            </div>

                            <hr />

                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="Description">توضیحات (اختیاری)</label>
                                <input type="text" class="form-control" asp-for="Description">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> تصویر رسید انبار </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">

                                <input type="file" class="display-none" name="InvoiceImage" id="UserAvatar" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                <div class="col-md-12">
                                    <label for="UserAvatar" class="file-input-style">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span class="mr-8px"> لطفا تصویر رسید انبار را انتخاب کنید .</span>
                                    </label>
                                </div>

                                @{
                                    var avatarUrl = FilePaths.DefaultUserAvatar;
                                }

                                <div class="col-md-12 tc mt-10px">
                                    <img src="@avatarUrl" class="image-style" ImageFile="1" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">

                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green flex-style">
                            <span class="widget-caption"> انتخاب مکان </span>
                        </div>
                        <div class="widget-body @((places != null && places.Any()) ? "no-padding" : "")">

                            @if (places != null && places.Any())
                            {
                                <div class="panel-group accordion">
                                    @foreach (var place in places.Where(s => s.ParentId == null))
                                    {
                                        var isPermissionSelected = Model.PlaceId.HasValue &&
                                                                   places.Any(p=> p.PlaceId == Model.PlaceId.Value && p.ParentId == place.PlaceId) ? true : false;

                                        <div class="panel panel-default">

                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle @((isPermissionSelected) ? "" : "collapsed")" data-toggle="collapse" href="#permission-@place.PlaceId" aria-expanded="@((isPermissionSelected) ? "true" : "false")">
                                                        @place.PlaceTitle
                                                    </a>
                                                </h4>
                                            </div>

                                            <div id="permission-@place.PlaceId" class="panel-collapse collapse @((isPermissionSelected) ? "in" : "")" aria-expanded="@((isPermissionSelected) ? "true" : "false")" style="height: @((isPermissionSelected) ? "auto" : "0")">
                                                <div class="panel-body" style="padding: 5px 15px 0 15px !important">

                                                    @if (places.Any(s => s.ParentId.HasValue && s.ParentId.Value == place.PlaceId))
                                                    {
                                                        @foreach (var subPermission in places.Where(s => s.ParentId.HasValue && s.ParentId.Value == place.PlaceId))
                                                        {
                                                            var isSubPermissionSelected = Model.PlaceId.HasValue && Model.PlaceId.Value == subPermission.PlaceId ? true : false ;

                                                            <div class="form-group">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="@subPermission.PlaceId" name="PlaceId" data-id="@subPermission.PlaceId" data-parentId="@place.PlaceId" @((isSubPermissionSelected) ? "checked" : "")>
                                                                        <span class="text"> @subPermission.PlaceTitle </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <partial name="_NotFoundPartial" />
                            }

                        </div>
                    </div>

                </div>

                <div class="col-lg-12 col-sm-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> دسته بندی کالا </span>
                        </div>
                        <div class="widget-body">
                            <div>

                                <div class="row">

                                    <div class="form-group col-md-12 col-sm-12">
                                        <select asp-for="CategoryId" class="form-control">
                                            @if (catgetories != null && catgetories.Any())
                                            {
                                                foreach (var category in catgetories)
                                                {
                                                    <option value="@category.CategoryId"> @category.CategoryTitle </option>
                                                }
                                            }
                                        </select>
                                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    </div>
</form>

