@using EquipmentManagement.Application.Convertors;
@model List<EquipmentManagement.Domain.DTO.SiteSide.Product.FilterProductForExcelFilesDTO>

@{
    ViewData["Title"] = "مدیریت تجهیزات";
}


@section Breadcrumbs
{
    <li class="active">@ViewData["Title"]</li>
}


@section Scripts
{

    <script>
        function exportTableToExcel(tableID, filename = '') {
            // Select the table element
            var table = document.getElementById(tableID);
            
            // Create a new workbook and a worksheet from the table
            var wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });

            // Generate Excel file and trigger download
            XLSX.writeFile(wb, filename ? filename + '.xlsx' : 'excel_data.xlsx');
        }
    </script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-12 col-lg-12">

            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> فیلتر  </span>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="basic-form">
                            <form asp-area="" asp-controller="Product" asp-action="FilterProductForExcelFiles" method="get" id="filter-search">
                                <input type="hidden" name="PlaceId" />
                                <input type="hidden" name="CategoryId" />

                                <div class="form-row">

                                    <div class="form-group col-md-3">
                                        <label>نام کالا</label>
                                        <input type="text" name="ProductTitle" class="form-control" placeholder="نام کالا">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>نام مکان </label>
                                        <input type="text" name="PlaceTitle" class="form-control" placeholder="نام مکان">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>نام دسته بندی کالا</label>
                                        <input type="text" name="CategoryTitle" class="form-control" placeholder="نام دسته بندی کالا">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>Rf-Id کالا</label>
                                        <input type="text" name="BarCode" class="form-control" placeholder="بارکد کالا">
                                    </div>

                                </div>

                                <hr />

                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-filter"></i>فیلتر
                                    </button>
                                </div>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <div class="form-group col-md-12">
                                        <a asp-area="" asp-controller="Product" asp-action="FilterProductForExcelFiles" class="btn btn-labeled w-100 btn-darkorange">
                                            <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                        </a>
                                    </div>
                                }


                                @if (Model != null && Model.Any())
                                {
                                    <div class="form-group col-md-12">
                                        <p class="btn btn-labeled w-100 btn-primary mt-2" onclick="exportTableToExcel('users-table', 'Product_List')">
                                            خروجی اکسل
                                        </p>
                                    </div>
                                }

                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="well with-header with-footer table-responsive">
                <div class="header bordered-azure">
                    <div class="flex-style">
                        <span>تجهیزات </span>
                    </div>
                </div>

                @if (Model != null && Model.Any())
                {
                    <table class="table table-hover table-bordered tc tableShowListInAdmin" id="users-table">

                        <thead class="tc">
                            <tr class="tc">
                                <th>
                                    #
                                </th>
                                <th>
                                    عنوان کالا
                                </th>
                                <th>
                                    برند کالا
                                </th>
                                <th>
                                    نام مکان
                                </th>
                                <th>
                                    نام دسته بندی
                                </th>
                                <th>
                                    بارکد
                                </th>
                                <th>
                                    کد اموال 
                                </th>
                                <th>
                                    توضیحات
                                </th>
                                <th>
                                    تاریخ ثبت
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var product in Model)
                            {
                                <tr>

                                    <td>
                                        @product.Id
                                    </td>
                                    <td>
                                        @product.ProductTitle
                                    </td>
                                    <td>
                                        @(string.IsNullOrEmpty(product.Brand) ? "-" : product.Brand)
                                    </td>
                                    <td>
                                        @product.PlaceTitle
                                    </td>
                                    <td>
                                        @product.CategoryTitle
                                    </td>
                                    <td>
                                        @product.BarCode
                                    </td>
                                    <td>
                                        @product.RepostiroyCode
                                    </td>
                                    <td>
                                        @(string.IsNullOrEmpty(product.Description) ? "-" : product.Description)
                                    </td>
                                    <td>
                                        @product.CreateDate.ToShamsi()
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
                else
                {
                    <partial name="_NotFoundPartial" />
                }

            </div>
        </div>
    </div>
</div>
