@model EquipmentManagement.Domain.DTO.SiteSide.PropertyInquiry.AddNewExcelFileDTO

@{
    ViewData["Title"] = "افزودن فایل گردش اموال";
    var places = ViewBag.places as List<EquipmentManagement.Domain.DTO.SiteSide.Places.SelectListOfPlacesDTO>;
}

@section Scripts
{
    <partial name="_JqueryValidation" />
}

@section Breadcrumbs
{
    <li>
        <a asp-area="" asp-controller="places" asp-action="FilterPlaces"> مدیریت گردش اموال  </a>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="AddNewExcelFile" asp-controller="PropertyInquiry" asp-area="Admin" enctype="multipart/form-data">
    <div class="row">

        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="ExcelFile">فایل گردش اموال (فایل اکسل)</label>
                                <input type="file" class="form-control" asp-for="ExcelFile">
                                <span class="text-danger" asp-validation-for="ExcelFile"></span>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">

                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green flex-style">
                            <span class="widget-caption"> انتخاب مکان </span>
                        </div>
                        <div class="widget-body @((places != null && places.Any()) ? "no-padding" : "")">

                            @if (places != null && places.Any())
                            {
                                <div class="panel-group accordion">
                                    @foreach (var place in places.Where(s => s.ParentId == null))
                                    {
                                        var isPermissionSelected = false;

                                        <div class="panel panel-default">

                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle @((isPermissionSelected) ? "" : "collapsed")" data-toggle="collapse" href="#permission-@place.PlaceId" aria-expanded="@((isPermissionSelected) ? "true" : "false")">
                                                        @place.PlaceTitle
                                                    </a>
                                                </h4>
                                            </div>

                                            <div id="permission-@place.PlaceId" class="panel-collapse collapse @((isPermissionSelected) ? "in" : "")" aria-expanded="@((isPermissionSelected) ? "true" : "false")" style="height: @((isPermissionSelected) ? "auto" : "0")">
                                                <div class="panel-body" style="padding: 5px 15px 0 15px !important">

                                                    @if (places.Any(s => s.ParentId.HasValue && s.ParentId.Value == place.PlaceId))
                                                    {
                                                        @foreach (var subPermission in places.Where(s => s.ParentId.HasValue && s.ParentId.Value == place.PlaceId))
                                                        {
                                                            var isSubPermissionSelected = false;

                                                            <div class="form-group">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="@subPermission.PlaceId" name="PlaceId" data-id="@subPermission.PlaceId" data-parentId="@place.PlaceId" @((isSubPermissionSelected) ? "checked" : "")>
                                                                        <span class="text"> @subPermission.PlaceTitle </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <partial name="_NotFoundPartial" />
                            }

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</form>

