@using EquipmentManagement.Application.Convertors
@using EquipmentManagement.Domain.DTO.SiteSide.PropertyInquiry
@model List<EquipmentManagement.Domain.DTO.SiteSide.PropertyInquiry.FilterInquiryDetail>;

@{
    ViewData["Title"] = "گردش اموال";

    var filterMembers = ViewBag.FilterInquiryMembers as FilterInquiryDetailDTO;
    var badgesCount = ViewBag.badgesCount as FilterPropertiesInquiry_BadgesCountDTO;
}

@section Styles
{
}

@section Scripts
{
    <partial name="_JqueryValidation" />
}

@section Breadcrumbs
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

@if (badgesCount != null)
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="bg-success databox-right">
                        </div>
                        <div class="databox-left">
                            <span class="databox-number sucees">@badgesCount.FoundInInquiry</span>
                            <div class="databox-text darkgray">محصولات یافت شده این مکان در استعلام</div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="bg-warning databox-right">
                        </div>
                        <div class="databox-left">
                            <span class="databox-number sucees">@badgesCount.NotFoundInInquiry</span>
                            <div class="databox-text darkgray">محصولات یافت نشده ی این مکان در استعلام</div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="bg-danger databox-right">
                        </div>
                        <div class="databox-left">
                            <span class="databox-number sucees">@badgesCount.NewProductsFromAnotherPlaces</span>
                            <div class="databox-text darkgray">محصولات یافت شده دراستعلام که تعلق به این مکان ندارد</div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12 col-sm-12">

        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> تاریخچه گردش اموال </span>
            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="FilterInquiryDetail" asp-controller="PropertyInquiry" asp-area="Admin" id="filter-search" method="get">
                        <input type="hidden" value="@filterMembers.PropertyInquiryId" name="PropertyInquiryId" />
                        <input type="hidden" value="@filterMembers.PlaceId"  name="PlaceId" />

                        <div class="form-group col-lg-12 col-sm-12">
                            <label>محل استقرار</label>
                            <input type="text" class="form-control" value="@filterMembers.PlaceName" name="PlaceName" placeholder="محل استقرار">
                        </div>

                        <div class="form-group col-lg-12 col-sm-12">
                            <label> دسته بندی</label>
                            <input type="text" class="form-control" value="@filterMembers.CategoryName" name="CategoryName" placeholder=" دسته بندی">
                        </div>

                        <div class="form-group col-lg-12 col-sm-12">

                            <label>وضعیت </label>
                            <select name="IsExistInInquiey_Inquiry" class="form-control" asp-items="Html.GetEnumSelectList(typeof(EquipmentManagement.Domain.DTO.SiteSide.PropertyInquiry.IsExistInInquiey_Inquiry))">
                            </select>

                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>فیلتر
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="FilterInquiryDetail"
                                       asp-controller="PropertyInquiry"
                                       asp-area="Admin"
                                       asp-route-PropertyInquiryId="@filterMembers.PropertyInquiryId"
                                       asp-route-PlaceId="@filterMembers.PlaceId"
                                       class="btn btn-labeled w-100 btn-darkorange ">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@ViewData["Title"]</span>
                    <span>تعداد کل : @Model.Count()</span>
                </div>
            </div>

            @if (Model != null && Model.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                #
                            </th>

                            <th class="tc vm">
                                نام
                            </th>

                            <th class="tc vm">
                                Rf_ID
                            </th>

                            <th class="tc vm">
                                محل استقرار
                            </th>

                            <th class="tc vm">
                                وضعیت
                            </th>

                            <th class="tc vm">
                                عملیات
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var property in Model)
                        {
                            <tr class="tc vm" remove-ajax-item="@property.PropertyId">

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @property.PropertyId</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @property.PropertyTitle</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @property.RfId</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @property.PlaceTitle</p>
                                    </div>
                                </td>

                                <td class="vm">

                                    @if (property.IsExistInInquiey == IsExistInInquiey.FoundInInquiry)
                                    {
                                        <div class="flex-style-center">
                                            <p class="badge badge-success"> یافت شده در استعلام</p>
                                        </div>
                                    }

                                    @if (property.IsExistInInquiey == IsExistInInquiey.NotFoundInInquiry)
                                    {
                                        <div class="flex-style-center">
                                            <p class="badge badge-warning"> دراستعلام یافت نشده </p>
                                        </div>
                                    }

                                    @if (property.IsExistInInquiey == IsExistInInquiey.NewProductsFromAnotherPlaces)
                                    {
                                        <div class="flex-style-center">
                                            <p class="badge badge-danger"> یافت شده اما به این مکان تعلق ندارد </p>
                                        </div>
                                    }

                                </td>

                                <td class="tc vm">

                                    <a title="نمایش اطلاعات" asp-controller="Product" asp-action="ProductDetail" asp-route-ProductId="@property.PropertyId" class="btn btn-info btn-circle btn-xs">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>
</div>

