@using EquipmentManagement.Application.Convertors
@using EquipmentManagement.Domain.DTO.SiteSide.PropertyInquiry
@model List<PropertyInquiryDTO>;

@{
    ViewData["Title"] = "تاریخچه گردش اموال";

    var filterProperties = ViewBag.FilterProperties as FilterSystemPropertyInquiriesDTO;
}

@section Styles
{
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init-AllRecords.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>

}

@section Breadcrumbs
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="row">
    <div class="col-lg-12 col-sm-12">

        <a class="btn btn-sky w-100 margin-bottom-10"
           asp-action="AddNewExcelFile"
           asp-controller="PropertyInquiry"
           asp-area=""> گردش اموال جدید </a>

        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> تاریخچه گردش اموال </span>
            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="ListOfSystemInquiries" asp-controller="PropertyInquiry" asp-area="Admin" id="filter-search" method="get">


                        <div class="form-group col-lg-4 col-sm-12">
                            <label>عنوان اتاق </label>
                            <input type="text" class="form-control" name="PlaceTitle" value="@filterProperties.PlaceTitle" placeholder="عنوان اتاق">
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label>جستجو از تاریخ</label>
                            <input type="text" class="form-control" AdminDatePicker="1" value="@filterProperties.StartTime" name="StartTime" placeholder="از تاریخ">
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label>جستجو تا تاریخ</label>
                            <input type="text" class="form-control" AdminDatePicker="2" value="@filterProperties.EndTime" name="EndTime" placeholder="تا تاریخ">
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>فیلتر
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="ListOfSystemInquiries" asp-controller="PropertyInquiry" asp-area="Admin" class="btn btn-labeled w-100 btn-darkorange ">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">

    <div id="horizontal-form">

        @if (Model != null && Model.Any())
        {

            <div class="widget-body no-padding">
                <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                    <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                        <thead class="bordered-darkorange">
                            <tr role="row">

                                <th  tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" >کد گردش اموال </th>
                                <th  tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" >نام اتاق</th>
                                <th  tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" >نام کاربری اپراتور </th>
                                <th  tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" >تاریخ گردش اموال  </th>
                                <th  tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" >عملیات  </th>

                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var inquiry in Model)
                            {
                                <tr class="tc vm" remove-ajax-item="@inquiry.InquiryId">

                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <p> @inquiry.InquiryId</p>
                                        </div>
                                    </td>

                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <p> @inquiry.PlaceTitle</p>
                                        </div>
                                    </td>

                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <p> @inquiry.Username</p>
                                        </div>
                                    </td>

                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <p> @inquiry.CreateDate.ToShamsi()</p>
                                        </div>
                                    </td>

                                    <td class="tc vm">

                                        <a asp-action="FilterInquiryDetail"
                                           asp-controller="PropertyInquiry"
                                           asp-route-PropertyInquiryId="@inquiry.InquiryId"
                                           asp-route-PlaceId="@inquiry.PlaceId"
                                           class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>

                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <partial name="_AdminNotFoundPartial" />
        }

    </div>
</div>
</div>

