@using EquipmentManagement.Application.Convertors
@model EquipmentManagement.Domain.DTO.SiteSide.PropertyInquiry.FilterSystemPropertyInquiriesDTO;

@{
    ViewData["Title"] = "تاریخچه گردش اموال";
}

@section Styles
{
}

@section Scripts
{
    <partial name="_JqueryValidation" />
}

@section Breadcrumbs
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="row">
    <div class="col-lg-3 col-sm-12">

        <a class="btn btn-sky w-100 margin-bottom-10"
           asp-action="AddNewExcelFile"
           asp-controller="PropertyInquiry"
           asp-area=""> گردش اموال جدید </a>

        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> تاریخچه گردش اموال </span>
            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="ListOfSystemInquiries" asp-controller="PropertyInquiry" asp-area="Admin" id="filter-search" method="get">

                        <input type="hidden" asp-for="Page" />

                        <div class="form-group col-lg-12 col-sm-12">
                            <label>عنوان اتاق </label>
                            <input type="text" class="form-control" asp-for="PlaceTitle" placeholder="عنوان اتاق">
                        </div>

                        <div class="form-group col-lg-12 col-sm-12">
                            <label>جستجو از تاریخ</label>
                            <input type="text" class="form-control" AdminDatePicker="1"  asp-for="StartTime" placeholder="از تاریخ">
                        </div>

                        <div class="form-group col-lg-12 col-sm-12">
                            <label>جستجو تا تاریخ</label>
                            <input type="text" class="form-control" AdminDatePicker="2" asp-for="EndTime" placeholder="تا تاریخ">
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>فیلتر
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="ListOfSystemInquiries" asp-controller="PropertyInquiry" asp-area="Admin" class="btn btn-labeled w-100 btn-darkorange ">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                    </a>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>@ViewData["Title"]</span>
                    <span>@Model.GetShownEntitiesPagesTitle()</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                 کد گردش اموال 
                            </th>

                            <th class="tc vm">
                                نام اتاق
                            </th>

                            <th class="tc vm">
                                نام کاربری اپراتور
                            </th>

                            <th class="tc vm">
                               تاریخ گردش اموال 
                            </th>

                            <th class="tc vm">
                                عملیات
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var inquiry in Model.Entities)
                        {
                            <tr class="tc vm" remove-ajax-item="@inquiry.InquiryId">

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @inquiry.InquiryId</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @inquiry.PlaceTitle</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @inquiry.Username</p>
                                    </div>
                                </td>

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <p> @inquiry.CreateDate.ToShamsi()</p>
                                    </div>
                                </td>

                                <td class="tc vm">

                                    <a asp-action="FilterInquiryDetail" 
                                       asp-controller="PropertyInquiry" 
                                       asp-route-PropertyInquiryId="@inquiry.InquiryId" 
                                       asp-route-PlaceId="@inquiry.PlaceId" 
                                       class="btn btn-azure btn-circle btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_Paging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>
</div>

