@using EquipmentManagement.Application.Extensions
@using EquipmentManagement.Domain.Entities.OrganizationRequest
@model EquipmentManagement.Domain.DTO.SiteSide.OrganizationRequest.RepairRequestDetailDto

@{
    ViewData["Title"] = "نمایش اطلاعات درخواست تعمییر";
}

@section Scripts
{
    <partial name="_JqueryValidation" />
}

@section Breadcrumbs
{
    <li>
        <a asp-area="" asp-controller="Product" asp-action="FilterProduct"> مدیریت تجهیزات  </a>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post"
      asp-action="ChangeRepairRequestState"
      asp-controller="OrganizationRequest"
      asp-area=""
      enctype="multipart/form-data">

    <input name="repairRequestId" value="@Model.RepairRequest!.Id" type="hidden" />

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row" style="background-color: #b8f2f2; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                            <div class="form-group col-md-4 col-sm-12">
                                <label> نام کالا </label>
                                <input type="text" class="form-control" readonly value="@Model.Product!.ProductTitle">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label> کداموال </label>
                                <input type="text" class="form-control" readonly value="@Model.Product.BarCode">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label> Rf-Id </label>
                                <input type="text" class="form-control" readonly value="@Model.Product.BarCode">
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row " style=" background-color: #b8f2f2; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                            <div class="form-group col-md-4 col-sm-12">
                                <label> نام درخواست دهنده </label>
                                <input type="text" class="form-control" readonly value="@Model.Employee!.Username">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label> موبایل درخواست دهنده </label>
                                <input type="text" class="form-control" readonly value="@Model.Employee.Mobile">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label> کدملی درخواست دهنده  </label>
                                <input type="text" class="form-control" readonly value="@Model.Employee.NationalId">
                            </div>


                            <div class="form-group col-md-12 col-sm-12">
                                <label> علت درخواست  و عیب کالا  </label>
                                <textarea type="text" class="form-control" readonly>@Model.RepairRequest.Description</textarea>
                            </div>

                        </div>

                        @if (Model.ExpertVisitorOpinion != null &&
                        Model.ExpertVisitorOpinion.ResponsType != ExpertVisitorResponsType.WaitingForRespons)
                        {
                            <hr class="margin-bottom-10 margin-top-10" />

                            <div class="row " style=" background-color: #f2d9b8; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                                @if (Model.ExpertVisitor != null)
                                {
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label> نام مدیر </label>
                                        <input type="text" class="form-control" readonly value="@Model.Employee!.Username">
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label> موبایل مدیر </label>
                                        <input type="text" class="form-control" readonly value="@Model.Employee.Mobile">
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label> کدملی مدیر  </label>
                                        <input type="text" class="form-control" readonly value="@Model.Employee.NationalId">
                                    </div>
                                }

                                <div class="form-group col-md-6 col-sm-12">
                                    <label> نظر مدیر  </label>
                                    @if (Model.ExpertVisitorOpinion.ResponsType == ExpertVisitorResponsType.Accepted)
                                    {
                                        <input type="text"
                                               class="form-control"
                                               readonly
                                               value="درخواست تایید شده است.">
                                    }
                                    @if (Model.ExpertVisitorOpinion.ResponsType == ExpertVisitorResponsType.Reject)
                                    {
                                        <input type="text"
                                               class="form-control"
                                               readonly
                                               value="درخواست رد شده است.">
                                    }

                                </div>

                                <div class="form-group col-md-6 col-sm-12">
                                    <label> آیا نیاز به برون سپاری دارد ؟  </label>
                                    <input type="text"
                                           class="form-control"
                                           readonly
                                           value="@(Model.RepairRequest.IsNeedToOutSource ? "بله " : "خیر")">
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <label> نظر مدیر  </label>
                                    <textarea type="text" class="form-control" readonly>@Model.ExpertVisitorOpinion.Description</textarea>
                                </div>

                            </div>
                        }

                        @if (Model.ExpertVisitorOpinion != null &&
                        Model.ExpertVisitorOpinion.ResponsType == ExpertVisitorResponsType.WaitingForRespons)
                        {
                            <hr class="margin-bottom-10 margin-top-10 " />

                            <div class="row " style=" background-color: #f2d9b8; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                                <div class="form-group col-md-6 col-sm-12">
                                    <label>
                                        نظر مدیر
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select name="requestState"
                                            class="form-control"
                                            asp-items="Html.GetEnumSelectList(typeof(RepairRequestState))"></select>
                                </div>

                                <div class="form-group col-md-6 col-sm-12">
                                    <label>
                                        آیا نیاز به برون سپاری دارد ؟
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select name="outSource" class="form-control">
                                        <option value="false">خیر</option>
                                        <option value="true">بله</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <label>
                                        نظریه ی مدیر بازدید کننده :
                                        <span style="color:red;">*</span>
                                    </label>
                                    <textarea type="text" class="form-control" name="description" placeholder="نظریه ی مدیر."></textarea>
                                </div>

                            </div>
                        }

                        @if (Model.DecisionsRespons != null && Model.DecisionsRespons.Any())
                        {
                            foreach (var decisionRespons in Model.DecisionsRespons)
                            {
                                <hr class="margin-bottom-10 margin-top-10" />

                                <div class="row " style=" background-color: #f7ccec; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                                    @if (Model.ExpertVisitor != null)
                                    {
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label> نام  </label>
                                            <input type="text" class="form-control" readonly value="@decisionRespons.User.Username">
                                        </div>

                                        <div class="form-group col-md-4 col-sm-12">
                                            <label> موبایل  </label>
                                            <input type="text" class="form-control" readonly value="@decisionRespons.User.Mobile">
                                        </div>

                                        <div class="form-group col-md-4 col-sm-12">
                                            <label> کدملی   </label>
                                            <input type="text" class="form-control" readonly value="@decisionRespons.User.NationalId">
                                        </div>
                                    }

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label> نظر جمع دار اموال  </label>
                                        @if (decisionRespons.Response == DecisionRepairRespons.Accepted)
                                        {
                                            <input type="text"
                                                   class="form-control"
                                                   readonly
                                                   value="درخواست تایید شده است.">
                                        }
                                        @if (decisionRespons.Response == DecisionRepairRespons.Reject)
                                        {
                                            <input type="text"
                                                   class="form-control"
                                                   readonly
                                                   value="درخواست رد شده است.">
                                        }
                                        @if (decisionRespons.Response == DecisionRepairRespons.WaitingForRespons)
                                        {
                                            <input type="text"
                                                   class="form-control"
                                                   readonly
                                                   value="هنوز بررسی نشده است.">
                                        }

                                    </div>

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label> نظر  </label>
                                        <textarea type="text" class="form-control" readonly>@decisionRespons.RejectDescription</textarea>
                                    </div>

                                </div>
                            }
                        }

                        @if (Model.DecisionsRespons != null && Model.DecisionsRespons.Any())
                        {
                            if (Model.DecisionsRespons.Any(p => p.User.Id == User.GetUserId() &&
                            p.Response == DecisionRepairRespons.WaitingForRespons))
                            {
                                <hr class="margin-bottom-10 margin-top-10" />

                                <div class="row " style=" background-color: #f7ccec; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label>
                                            لطفا وضعیت را مشخص کنید :  
                                            <span style="color:red;">*</span>
                                        </label>
                                        <select name="requestState"
                                                class="form-control"
                                                asp-items="Html.GetEnumSelectList(typeof(RepairRequestState))"></select>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label>
                                            نظریه شما :
                                            <span style="color:red;">*</span>
                                        </label>
                                        <textarea type="text" class="form-control" name="description" placeholder="لطفا نظر خود را وارد نمایید"></textarea>
                                    </div>

                                </div>
                            }
                        }

                        @if (Model.ExpertVisitorOpinion != null && (
                        (Model.ExpertVisitorOpinion.ExpertUserId == User.GetUserId() && 
                        Model.ExpertVisitorOpinion.ResponsType == ExpertVisitorResponsType.WaitingForRespons) ||
                        Model.DecisionsRespons.Any(p=> p.User.Id == User.GetUserId() && p.Response == DecisionRepairRespons.WaitingForRespons)))
                        {
                            <div class="row mt-5">
                                <div class="col-md-12 flex-style">
                                    <button type="submit" class="btn btn-labeled btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                    </button>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
