@using EquipmentManagement.Application.Extensions
@using EquipmentManagement.Domain.Entities.OrganizationRequest
@using EquipmentManagement.Domain.Entities.OrganizationRequest.AbolitionRequest
@model EquipmentManagement.Domain.DTO.SiteSide.OrganizationRequest.AbolitionRequestDetailDto

@{
    ViewData["Title"] = "نمایش اطلاعات درخواست اسقاط";
}

@section Scripts
{
    <partial name="_JqueryValidation" />
}

@section Breadcrumbs
{
    <li>
        <a asp-area="" asp-controller="Product" asp-action="FilterProduct"> مدیریت تجهیزات  </a>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post"
      asp-action="ChangeAbolitionRequestState"
      asp-controller="OrganizationRequest"
      asp-area=""
      enctype="multipart/form-data">

    <input name="abolitionRequestId" value="@Model.AbolitionRequest!.Id" type="hidden" />

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row" style="background-color: #b8f2f2; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                            <div class="form-group col-md-4 col-sm-12">
                                <label> نام کالا </label>
                                <input type="text" class="form-control" readonly value="@Model.Product!.ProductTitle">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label> کداموال </label>
                                <input type="text" class="form-control" readonly value="@Model.Product.BarCode">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label> Rf-Id </label>
                                <input type="text" class="form-control" readonly value="@Model.Product.BarCode">
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row " style=" background-color: #b8f2f2; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                            <div class="form-group col-md-4 col-sm-12">
                                <label> نام درخواست دهنده </label>
                                <input type="text" class="form-control" readonly value="@Model.Employee!.Username">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label> موبایل درخواست دهنده </label>
                                <input type="text" class="form-control" readonly value="@Model.Employee.Mobile">
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label> کدملی درخواست دهنده  </label>
                                <input type="text" class="form-control" readonly value="@Model.Employee.NationalId">
                            </div>


                            <div class="form-group col-md-12 col-sm-12">
                                <label> علت درخواست  و عیب کالا  </label>
                                <textarea type="text" class="form-control" readonly>@Model.AbolitionRequest.Description</textarea>
                            </div>

                        </div>

                        @if (Model.ExpertVisitorOpinion != null &&
                        Model.ExpertVisitorOpinion.ResponsType !=  EquipmentManagement.Domain.Entities.OrganizationRequest.AbolitionRequest.ExpertVisitorResponsType.WaitingForRespons)
                        {
                            <hr class="margin-bottom-10 margin-top-10" />

                            <div class="row " style=" background-color: #f2d9b8; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                                @if (Model.ExpertVisitor != null)
                                {
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label> نام مدیر </label>
                                        <input type="text" class="form-control" readonly value="@Model.Employee!.Username">
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label> موبایل مدیر </label>
                                        <input type="text" class="form-control" readonly value="@Model.Employee.Mobile">
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label> کدملی مدیر  </label>
                                        <input type="text" class="form-control" readonly value="@Model.Employee.NationalId">
                                    </div>
                                }

                                <div class="form-group col-md-6 col-sm-12">
                                    <label> نظر مدیر  </label>
                                    @if (Model.ExpertVisitorOpinion.ResponsType == EquipmentManagement.Domain.Entities.OrganizationRequest.AbolitionRequest.ExpertVisitorResponsType.Accepted)
                                    {
                                        <input type="text"
                                               class="form-control"
                                               readonly
                                               value="درخواست تایید شده است.">
                                    }
                                    @if (Model.ExpertVisitorOpinion.ResponsType == EquipmentManagement.Domain.Entities.OrganizationRequest.AbolitionRequest.ExpertVisitorResponsType.Reject)
                                    {
                                        <input type="text"
                                               class="form-control"
                                               readonly
                                               value="درخواست رد شده است.">
                                    }

                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <label> نظر مدیر  </label>
                                    <textarea type="text" class="form-control" readonly>@Model.ExpertVisitorOpinion.Description</textarea>
                                </div>

                            </div>
                        }

                        @if (Model.ExpertVisitorOpinion != null &&
                        Model.ExpertVisitorOpinion.ResponsType == EquipmentManagement.Domain.Entities.OrganizationRequest.AbolitionRequest.ExpertVisitorResponsType.WaitingForRespons)
                        {
                            <hr class="margin-bottom-10 margin-top-10 " />

                            <div class="row " style=" background-color: #f2d9b8; margin-left: 0px;margin-right: 0px; padding-top: 10px;">

                                <div class="form-group col-md-12 col-sm-12">
                                    <label>
                                        نظر مدیر
                                        <span style="color:red;">*</span>
                                    </label>
                                    <select name="requestState"
                                            class="form-control">
                                        <option value="1">تایید درخواست</option>
                                        <option value="2">رد درخواست</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <label>
                                        نظریه ی مدیر بازدید کننده :
                                        <span style="color:red;">*</span>
                                    </label>
                                    <textarea type="text" class="form-control" name="description" placeholder="نظریه ی مدیر."></textarea>
                                </div>

                            </div>

                            <div class="row mt-5">
                                <div class="col-md-12 flex-style">
                                    <button type="submit" class="btn btn-labeled btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                    </button>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
