@using EquipmentManagement.Application.Convertors
@using EquipmentManagement.Application.Utilities.Extentions
@using EquipmentManagement.Domain.Entities.OrganizationRequest
@using EquipmentManagement.Domain.Entities.OrganizationRequest.AbolitionRequest
@model EquipmentManagement.Domain.DTO.SiteSide.Dashboard.DashboardDto;

@{
    ViewData["Title"] = "داشبورد سامانه";
}

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a asp-action="FilterUsers" asp-controller="User" asp-area="">
                        <div class="databox radius-bordered bg-white">
                            <div class="databox-right bg-themesecondary">
                                <div class="databox-piechart">
                                    <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90"></span></div>
                                </div>
                            </div>
                            <div class="databox-left">
                                <span class="databox-number themesecondary"></span>
                                <div class="databox-text darkgray" style="font-size:20px; font-weight:bolder">کاربران</div>
                                <div class="databox-state bg-themesecondary radius-bordered">
                                    <i class="stat-icon icon-lg fa fa-user"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a asp-action="FilterPlaces" asp-controller="places" asp-area="">

                        <div class="databox radius-bordered bg-white">
                            <div class="databox-right bg-themefourthcolor ">
                                <div class="databox-piechart">
                                    <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.2)"><span class="white font-90"></span></div>
                                </div>
                            </div>
                            <div class="databox-left">
                                <span class="databox-number themefourthcolor"></span>
                                <div class="databox-text darkgray" style="font-size:20px; font-weight:bolder">مکانها و بخشها</div>
                                <div class="databox-state bg-themefourthcolor radius-bordered">
                                    <i class="stat-icon icon-lg fa fa-home"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a asp-action="FilterProduct" asp-controller="Product" asp-area="">
                        <div class="databox radius-bordered bg-white">
                            <div class="databox-right bg-themeprimary">
                                <div class="databox-piechart">
                                    <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90"></span></div>
                                </div>
                            </div>
                            <div class="databox-left">
                                <span class="databox-number themeprimary"></span>
                                <div class="databox-text darkgray" style="font-size:20px; font-weight:bolder">تجهیزات و اموال</div>
                                <div class="databox-state bg-themeprimary">
                                    <i class="fa fa-puzzle-piece "></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ">
            <div class="well with-header with-footer">
                <div class="header bg-warning">
                    درخواست های تعمیر کالا ارجاع داده شده به شما
                </div>
                @if (Model.RepairRequest != null && Model.RepairRequest.Any())
                {
                    <table class="table table-hover table-striped table-bordered">
                        <thead class="bordered-blueberry">
                            <tr>
                                <th>
                                    کارشناس درخواست دهنده
                                </th>
                                <th>
                                    نام کالا
                                </th>
                                <th>
                                    وضعیت تایید مدیر
                                </th>
                                <th>
                                    وضعیت تایید جمع داراموال
                                </th>
                                <th>
                                    تاریخ ثبت
                                </th>
                                <th>
                                    امکانات
                                </th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var request in Model.RepairRequest.Where(p => p.ExpertVisitorRepairRequestState != RepairRequestState.Reject &&
                                                p.DesicionMakersRepairRequestState != RepairRequestState.Reject))
                            {
                                <tr>
                                    <td>
                                        @request.RequesterUsername
                                    </td>
                                    <td>
                                        @request.ProductName
                                    </td>
                                    <td>
                                        @if (request.ExpertVisitorRepairRequestState == RepairRequestState.Accepted)
                                        {
                                            <p class="badge badge-success">تایید شده</p>
                                        }
                                        @if (request.ExpertVisitorRepairRequestState == RepairRequestState.WaitingForRespons)
                                        {
                                            <p class="badge badge-warning">در انتظار بررسی</p>
                                        }
                                        @if (request.ExpertVisitorRepairRequestState == RepairRequestState.Reject)
                                        {
                                            <p class="badge badge-warning">رد شده</p>
                                        }
                                    </td>
                                    <td>
                                        @if (request.DesicionMakersRepairRequestState == RepairRequestState.Accepted)
                                        {
                                            <p class="badge badge-success">تایید شده</p>
                                        }
                                        @if (request.DesicionMakersRepairRequestState == RepairRequestState.WaitingForRespons)
                                        {
                                            <p class="badge badge-warning">در انتظار بررسی</p>
                                        }
                                        @if (request.DesicionMakersRepairRequestState == RepairRequestState.Reject)
                                        {
                                            <p class="badge badge-warning">رد شده</p>
                                        }
                                    </td>
                                    <td>
                                        @request.CreateDate.ToShamsi()
                                    </td>

                                    <td>
                                        <a asp-action="ShowRepairRequestDetail"
                                           asp-area=""
                                           asp-controller="OrganizationRequest"
                                           asp-route-repairRequestId="@request.RepairRequestId">
                                            <span class="label label-warning">
                                                بررسی درخواست
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                }
                else
                {
                    <partial name="_NotFoundPartial" />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="well with-header with-footer">
                <div class="header bg-warning">
                    درخواست های اسقاط ارجاع داده شده به شما
                </div>
                @if (Model.AbolitionRequest != null && Model.AbolitionRequest.Any())
                {
                    <table class="table table-hover table-striped table-bordered">
                        <thead class="bordered-blueberry">
                            <tr>
                                <th>
                                    کارشناس درخواست دهنده
                                </th>
                                <th>
                                    نام کالا
                                </th>
                                <th>
                                    وضعیت تایید مدیر
                                </th>
                                <th>
                                    تاریخ ثبت
                                </th>
                                <th>
                                    امکانات
                                </th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var request in Model.AbolitionRequest)
                            {
                                <tr>
                                    <td>
                                        @request.RequesterUsername
                                    </td>
                                    <td>
                                        @request.ProductName
                                    </td>
                                    <td>
                                        @if (request.ExpertVisitorAbolitionRequestState == ExpertAbolitionRequestState.Accepted)
                                        {
                                            <p class="badge badge-success">تایید شده</p>
                                        }
                                        @if (request.ExpertVisitorAbolitionRequestState == ExpertAbolitionRequestState.WaitingForRespons)
                                        {
                                            <p class="badge badge-warning">در انتظار بررسی</p>
                                        }
                                        @if (request.ExpertVisitorAbolitionRequestState == ExpertAbolitionRequestState.Reject)
                                        {
                                            <p class="badge badge-warning">رد شده</p>
                                        }
                                    </td>
                                    <td>
                                        @request.CreateDate.ToShamsi()
                                    </td>

                                    <td>
                                        <a asp-action="ShowAbolitionRequestDetail"
                                           asp-area=""
                                           asp-controller="OrganizationRequest"
                                           asp-route-abolitionRequestId="@request.AbolitionRequestId">
                                            <span class="label label-warning">
                                                بررسی درخواست
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                }
                else
                {
                    <partial name="_NotFoundPartial" />
                }
            </div>
        </div>

    </div>
}


@* <div class="row">

    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bg-primary">
                جدیدترین تاریخچه ی تجهیزات
            </div>
            @if (Model.ProductLogs != null && Model.ProductLogs.Any())
            {
                <table class="table table-hover table-striped table-bordered">
                    <thead class="bordered-blueberry">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                عنوان کالا
                            </th>
                            <th>
                                RF-ID
                            </th>
                            <th>
                                توضیحات
                            </th>
                            <th>
                                نام کاربر
                            </th>
                            <th>
                                مکان موردنظر
                            </th>
                            <th>
                                تاریخ ثبت 
                            </th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var productLog in Model.ProductLogs)
                        {
                            <tr>
                                <td>
                                    @(productLog.Product != null ? productLog.Product.Id : "ثبت نشده")
                                </td>
                                <td>
                                    @(productLog.Product != null ? productLog.Product.ProductTitle : "ثبت نشده")
                                </td>
                                <td>
                                    @(productLog.Product != null ? productLog.Product.BarCode : "ثبت نشده")
                                </td>
                                <td>
                                    @(productLog.Description != null ? productLog.Description : "ثبت نشده")
                                </td>
                                <td>
                                    @(productLog.User != null ? productLog.User.Username : "ثبت نشده")
                                </td>
                                <td>
                                    @(productLog.Place != null ? productLog.Place.PlaceTitle : "ثبت نشده")
                                </td>
                                <td>
                                    @(productLog.CreateDate.ToShamsi() != null ? productLog.CreateDate.ToShamsi() : "ثبت نشده")
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>
</div> *@


else if (User.IsInRole("FoodReporter"))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a asp-action="FilterEmployees" asp-controller="FoodGroupReport" asp-area="">
                        <div class="databox radius-bordered bg-white">
                            <div class="databox-right bg-themeprimary">
                                <div class="databox-icon">
                                    <i class="fa fa-users fa-2x text-white"></i>
                                </div>
                            </div>
                            <div class="databox-left">
                                <span class="databox-number themeprimary"></span>
                                <div class="databox-text darkgray" style="font-size:20px; font-weight:bolder">
                                    لیست کارمندان
                                </div>
                                <div class="databox-state bg-themeprimary radius-bordered">
                                    <i class="fa fa-eye"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a asp-action="Report" asp-controller="FoodGroupReport" asp-area="">
                        <div class="databox radius-bordered bg-white">
                            <div class="databox-right bg-themesecondary">
                                <div class="databox-icon">
                                    <i class="fa fa-file-pdf fa-2x text-white"></i>
                                </div>
                            </div>
                            <div class="databox-left">
                                <span class="databox-number themesecondary"></span>
                                <div class="databox-text darkgray" style="font-size:20px; font-weight:bolder">
                                    خروجی PDF گزارش
                                </div>
                                <div class="databox-state bg-themesecondary radius-bordered">
                                    <i class="fa fa-download"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

}