@using EquipmentManagement.Domain.DTO.SiteSide.Employee;
@using EquipmentManagement.Application.Extensions;
@using EquipmentManagement.Application.Convertors;
@model FilterSelectedEmployeesDto

@{
    ViewData["Title"] = "مدیریت کارمندان";
}
@section Scripts
{
    <script>
        document.getElementById("sendEmployees").addEventListener("click", function () {
            // همه‌ی چک‌باکس‌ها رو می‌گیریم
            const selectedIds = Array.from(document.querySelectorAll('input[name="EmployeeIds"]:checked'))
                                     .map(cb => cb.value);

            console.log(selectedIds);

            // ساختن QueryString
            const queryString = selectedIds.map(id => "EmployeeIds=" + encodeURIComponent(id)).join("&");

               location.href='/FoodGroupReport/Report?' + queryString;

        });
    </script>

}

@section breadcrumbs
{

    <li class="active">@ViewData["Title"]</li>
}

<div class="container-fluid">
    <form asp-area="" asp-controller="FoodGroupReport" asp-action="FilterEmployees" method="get" id="filter-search">
        <div class="row">

            <div class="col-12 col-xl-3 col-lg-3">

                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-green">
                        <span class="widget-caption"> فیلتر  </span>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="basic-form">

                                <input type="hidden" asp-for="Page" />

                                <div class="form-row">

                                    <div class="form-group col-md-12">
                                        <label>نام کارمند</label>
                                        <input type="text" asp-for="FirstName" class="form-control" placeholder="نام کارمند">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>نام حانوادگی کارمند</label>
                                        <input type="text" asp-for="LastName" class="form-control" placeholder="نام حانوادگی کارمند">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>موبایل کارمند</label>
                                        <input type="text" asp-for="Mobile" class="form-control" placeholder="موبایل کارمند">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>کدپرسنلی کارمند</label>
                                        <input type="text" asp-for="PersonnelCode" class="form-control" placeholder="کدپرسنلی کارمند">
                                    </div>

                                </div>

                                <hr />

                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-filter"></i>فیلتر
                                    </button>
                                </div>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <div class="form-group col-md-12">
                                        <a asp-action="FilterEmployees" asp-controller="Employees" asp-area="" class="btn btn-labeled w-100 btn-darkorange">
                                            <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                        </a>
                                    </div>
                                }


                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-9">
                <div class="well with-header with-footer table-responsive">
                    <div class="header bordered-azure">
                        <div class="flex-style">
                            <span>کارمندان </span>
                            <span>تعداد کل : @Model.AllEntitiesCount</span>
                        </div>
                    </div>

                    @if (Model != null)
                    {
                        <form method="post" id="report-form">
                            <div class="form-group col-md-12">
                                <button type="button" id="sendEmployees" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-l abel glyphicon glyphicon-filter"></i>گزارش
                                </button>
                            </div>
                            <table class="table table-hover table-bordered tc tableShowListInAdmin">

                                <thead class="tc">
                                    <tr class="tc">
                                        <th>
                                            نام کارمند
                                        </th>
                                        <th>
                                            نام حانوادگی کارمند
                                        </th>
                                        <th>
                                            موبایل کارمند
                                        </th>
                                        <th>
                                            کدپرسنلی کارمند
                                        </th>

                                        <th> امکان دریافت غذا</th>
                                        <th>
                                            تاریخ ثبت
                                        </th>


                                        <th>
                                            امکانات
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var employee in Model.Entities)
                                    {
                                        <tr id="profile_@employee.Id" remove-ajax-item="@employee.Id">
                                            <td>
                                                @employee.FirstName
                                            </td>
                                            <td>
                                                @employee.LastName
                                            </td>
                                            <td>
                                                @employee.Mobile
                                            </td>
                                            <td>
                                                @employee.PersonnelCode
                                            </td>

                                            <td>
                                                @(employee.CanReceiveFood.ConvertToPersian())
                                            </td>
                                            <td>
                                                @employee.CreateDate.ToShamsi()
                                            </td>

                                            <td>
                                                <div class="d-flex justify-content-center ">
                                                    @*          <input type="checkbox" name="employeeId" class="form-control" value="@employee.Id" /> *@
                                                    <div class="form-group col-md-12 col-sm-12">
                                                        <label>
                                                            <input type="checkbox" name="EmployeeIds" @(Model.EmployeeIds.Contains(employee.Id) ? "checked" : "") value="@employee.Id">
                                                            <span class="text">  دریافت غذا </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </form>




                        <partial name="_Paging" model="@Model.GetCurrentPaging()" />
                    }
                    else
                    {
                        <partial name="_NotFoundPartial" />
                    }

                </div>
            </div>
        </div>
    </form>
</div>
